<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>luxe resin craft </h2>
        <p>your cart</p>
        <% if(locals.cartdata.length != 0){ %>
            <% cartdata.forEach(item=>{%>
                <div>
                    <img src="<%= item.img %>" alt="">
                </div>
                <div>
                    <span><%= item.productname %></span>
                    <span><%= item.description %></span>
                    <span><%= item.price %></span>
                </div>
                <a href="/cartremove/<%= item.cart_id %>">remove from cart</a>
                <a href="">buynow</a>
          <%  }) %>
            <%  }else{%>
                <h1>your cart is empty</h1>
          <%  } %>
        
        
    </div>
</body>
</html>